@keyframes zoom_in_out {
    0% {
    transform: scale(0%);
    }
    50% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}

.welcome_text {
    animation: zoom_in_out 0.7s ease-in-out forwards;
}