@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple-50: #F7F4FF;
  --color-purple-100: #E6DDFF;
  --color-purple-200: #6F45E9;
  --color-purple-400: #5732BF;
  --color-purple-600: #270685;
  --color-purple-900: #170349;
  
  --color-blue-50:#F5F9FF;
  --color-blue-100:#E4EFFF;
  --color-blue-200:#3B85F3;
  --color-blue-400:#1D62CA;
  --color-blue-600:#0D3674;

  --color-orange-50:#FFFAEC;
  --color-orange-100:#FFECBA;
  --color-orange-200:#FDC228;
  --color-orange-400:#DDA921;
  --color-orange-600:#875202;

  --color-violet-50:#FFF6FF;
  --color-violet-100:#F2E1F2;
  --color-violet-200:#B462B6;
  --color-violet-400:#963898;
  --color-violet-600:#540F55;

  --color-red-50:#FFF6F6;
  --color-red-100:#FFD6D6;
  --color-red-200:#E05555;
  --color-red-400:#B83232;
  --color-red-600:#6F1212;

  --color-green-50:#F4FFF8;
  --color-green-100:#E6F6EC;
  --color-green-200:#4DA66B;
  --color-green-400:#289B4F;
  --color-green-600:#117031;

  --color-teal-50:#E9FFFB;
  --color-teal-100:#C9EBE5;
  --color-teal-200:#4FBCA8;
  --color-teal-400:#2A907E;
  --color-teal-600:#0B453B;

  --color-gray-50:#F7F8FE;
  --color-gray-100:#EDEFF6;
  --color-gray-150:#E1E3ED;
  --color-gray-200:#BAC2C7;
  --color-gray-300:#78838D;
  --color-gray-400:#535D66;
  --color-gray-500:#555555;
  --color-gray-600:#333333;

  --color-black:#191919;
  --color-white:#FFFFFF;

  --breakpoint-xs: 375px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1536px;

  --font-size-xs:12px;
  --font-size-sm:14px;
  --font-size-base:16px;
  --font-size-lg:18px;
  --font-size-xl:21px;
  --font-size-2xl:24px;
  --font-size-3xl:30px;
  --font-size-4xl:36px;
  --font-size-5xl:48px;
  --font-size-6xl:60px;

  }

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
    --color-purple-50: #F7F4FF;
  --color-purple-100: #E6DDFF;
  --color-purple-200: #6F45E9;
  --color-purple-400: #5732BF;
  --color-purple-600: #270685;
  --color-purple-900: #170349;
  
  --color-blue-50:#F5F9FF;
  --color-blue-100:#E4EFFF;
  --color-blue-200:#3B85F3;
  --color-blue-400:#1D62CA;
  --color-blue-600:#0D3674;

  --color-orange-50:#FFFAEC;
  --color-orange-100:#FFECBA;
  --color-orange-200:#FDC228;
  --color-orange-400:#DDA921;
  --color-orange-600:#875202;

  --color-violet-50:#FFF6FF;
  --color-violet-100:#F2E1F2;
  --color-violet-200:#B462B6;
  --color-violet-400:#963898;
  --color-violet-600:#540F55;

  --color-red-50:#FFF6F6;
  --color-red-100:#FFD6D6;
  --color-red-200:#E05555;
  --color-red-400:#B83232;
  --color-red-600:#6F1212;

  --color-green-50:#F4FFF8;
  --color-green-100:#E6F6EC;
  --color-green-200:#4DA66B;
  --color-green-400:#289B4F;
  --color-green-600:#117031;

  --color-teal-50:#E9FFFB;
  --color-teal-100:#C9EBE5;
  --color-teal-200:#4FBCA8;
  --color-teal-400:#2A907E;
  --color-teal-600:#0B453B;

  --color-gray-50:#F7F8FE;
  --color-gray-100:#EDEFF6;
  --color-gray-150:#E1E3ED;
  --color-gray-200:#BAC2C7;
  --color-gray-300:#78838D;
  --color-gray-400:#535D66;
  --color-gray-500:#555555;
  --color-gray-600:#333333;

  --color-black:#191919;
  --color-white:#FFFFFF;

  --breakpoint-xs: 375px;
  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1536px;

  --font-size-xs:12px;
  --font-size-sm:14px;
  --font-size-base:16px;
  --font-size-lg:18px;
  --font-size-xl:21px;
  --font-size-2xl:24px;
  --font-size-3xl:30px;
  --font-size-4xl:36px;
  --font-size-5xl:48px;
  --font-size-6xl:60px;
}
*{
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none
}
a:focus-visible,button:focus-visible, input:focus-visible,textarea:focus-visible {
  outline:transparent
}

body {
  margin: 0;
}


.zoom_in_out {
    animation: zoom_in_out 0.7s ease-in-out forwards;
}
.react-international-phone-country-selector-button{
  height:45px !important;
  width: 45px !important;
}

.active-icon-primary {
  & > path{
    fill: var(--color-purple-400);
  }
}
.active-icon-blue-400 {
  & > path{
    stroke: var(--color-blue-400);
  }
}

.animate-popup-d{
  animation: animate_popup_d .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.animate-popup-m{
  animation: animate_popup_m .5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes zoom_in_out {
    0% {
    transform: scale(0%);
    }
    50% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}

@keyframes animate_popup_d {
  0% {
    scale: 0%;
    translate: 0 0;
  }
  50%{
    scale: 110%;
  }
  100%{
    scale: 100%
  }

}
@keyframes animate_popup_m {
  0% {
    translate: 0 50dvh;
    scale:100%;
  }
  50%{
    translate: 0 5dvh;
  }
  100%{
    translate: 0 0;
  }

}



@media (prefers-color-scheme: light) {

}
